@import '../../colors.scss';
@import '../../fonts.scss';

.quote {
  display: grid;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  margin-bottom: 1rem;
  border-left: 5px solid;

  &.quoteGold {
    background-color: $color-lightgold;
    color: $color-deepgold;
    border-color: $color-gold;
  }

  blockquote {
    margin: 1rem;
    margin-block: 1rem;
    margin-inline: 1rem;
    font-weight: 500;

    p:last-child {
      margin-bottom: 0;
    }
  }

  figcaption {
    padding-right: 1rem;
    padding-bottom: 1rem;
    p {
      margin: 0;
      text-align: right;
    }
  }
}
