@import '../../colors.scss';
@import '../../fonts.scss';

.button {
  display: inline-block;
  text-align: center;

  font-family: $primary-font;
  color: $color-white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: $primary-bold;

  min-width: 11.9rem;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  border-radius: 1.25rem;


  $colors: (
    "Orange": $color-orange,
    "Brick": $color-brick,
    "Blue": $color-blue,
    "Green": $color-green,
    "Gold": $color-gold,
    "Purple": $color-purple,
    "Lilac": $color-lilac,
    "Ocean": $color-ocean,
    "Peach": $color-peach
  );

  @each $name, $color in $colors {
    &.color#{$name} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 10%);
      }
    }
  }

}
