@import '../../colors.scss';
@import '../../fonts.scss';

.contentBox {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: $color-gray1;
  border-radius: .5rem;

  display: grid;
  //grid-template-rows: auto 1fr auto;
  //grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "content"
    "button";

  &.hasImage {
    grid-template-areas:
      "title title"
      "image content"
      "image button";
  }

  .boxTitle {
    font-family: $primary-font;
    font-size: 1.25rem;
    margin: 0;
    padding: 1.1rem 1.2rem;
    color: $color-white;
    display: flex;
    align-items: center;
    border-radius: .5rem .5rem 0 0;
    grid-area: title;
  }

  $colors: (
    "Orange": $color-orange,
    "Brick": $color-brick,
    "Blue": $color-blue,
    "Green": $color-green,
    "Gold": $color-gold,
    "Purple": $color-purple,
    "Lilac": $color-lilac,
    "Ocean": $color-ocean,
    "Peach": $color-peach
  );

  @each $name, $color in $colors {
    &.color#{$name} .boxTitle {
      background-color: $color;
    }
  }


  .boxContent {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: $primary-light;
    padding: 1.2rem 1.85rem 1.35rem 1.85rem;
    grid-area: content;
  }

  &.hasImage {
    .boxContent {
      min-height: 5rem;
    }
  }

  .image {
    grid-area: image;
    border-radius: 0 0 0 .5rem;
  }

  .button {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0.15rem 1.85rem 1.35rem 1.85rem;
    grid-area: button;
    height: 100%;
    align-items: flex-end;
  }

  &.typeSmall .button {
    justify-content: center;
  }
  &.typeFull .button {
    justify-content: flex-end;
  }
}
