@import '../../colors.scss';
@import '../../fonts.scss';

.hero {
  position: relative;
  z-index: 2;

  height: 25rem;
  width: 100%;

  display: flex;
  justify-content: center;

  &::before {
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: 2;
     background-image: url('../../static/wave-inverse.svg');
     background-position: center;
     background-repeat: repeat-x;
     transform: translateY(16rem);
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: repeat-x;
    background-position: center top;
  }

  &.colorPink {
    &::after {
      background-image: url('../../static/pink-watercolor.jpg');
      background-size: auto 110%;
      background-color: #f8eff2;
    }
    .title,
    .lead {
      color: $color-navigation;
    }
  }

  &.colorWarmRainbow {
    &::after {
      background-image: url('../../static/warmRainbow-watercolor.jpg');
      background-position: 18% top;
      background-size: auto 115%;
    }
    .title,
    .lead {
      color: $color-navigation;
    }
  }

  &.colorColdRainbow {
    &::after {
      background-image: url('../../static/coldRainbow-watercolor.jpg');
      background-position: -121% top;
      background-size: auto 150%;
    }
    .title,
    .lead {
      color: $color-deepblue;
    }
  }

  &.colorGold {
    &::after {
      background-image: url('../../static/gold-watercolor.jpg');
      background-color: #fef9db;
    }
    .title,
    .lead {
      color: $color-darkgold;
    }
  }

  &.colorBlue {
    &::after {
      background-image: url('../../static/blue-watercolor.jpg');
      background-color: #f1fafa;
    }
    .title,
    .lead {
      color: $color-darkblue;
    }
  }

  &.colorLilac {
    &::after {
      background-image: url('../../static/lilac-watercolor.jpg');
      background-color: #f1fafa;
      background-position: center top;
      background-size: auto 150%;
    }
    .title,
    .lead {
      color: $color-darklilac;
    }
  }


  &.colorGreen {
    &::after {
      background-image: url('../../static/green-watercolor.jpg');
      background-color: #e8f1c8;
      background-position: center top;
      background-size: auto 150%;
    }
    .title,
    .lead {
      color: $color-darkgreen;
    }
  }

  .centered {
    width: 100%;
    max-width: 64rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 10;
    padding: 0 6.25rem;
    overflow: hidden;
  }

  .title {
    font-family: $hero-font;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: .25rem;
    margin-top: 5.65rem;
    font-weight: 100;
  }

  .lead {
    display: block;
    font-family: $heading-font;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.8rem;
    margin: 0;
  }

  .pager {
    position: absolute;
    z-index: 10;
    width: 3.75rem;
    height: 3.75rem;
    background-image: url('../../static/pager.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    top: 50%;

    &.pagerLeft {
      left: 1rem;
      transform: translateY(-50%);
      &:active {
        transform: translateY(calc(-50% + .1rem));
      }
    }

    &.pagerRight {
      right: 1rem;
      transform: rotate(180deg) translateY(50%);

      &:active {
        transform: rotate(180deg) translateY(calc(50% - .1rem));
      }
    }
  }

  .page {
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &.show {
      opacity: 1;
      z-index: 10;
    }
  }
}
