@import '../../colors.scss';
@import '../../fonts.scss';

.header {
  position: relative;
  z-index: 10;

  height: 5rem;
  width: 100%;

  background-color: $color-white;
  box-shadow: 0 4px 40px rgba(0,0,0,0.5);


  display: flex;
  justify-content: center;

  .centered {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 64rem;
  }

  .logo {
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 5rem;
    display: block;
    background-image: url('./Logo.png');
    background-size: 90%;
    background-repeat: no-repeat;
    text-indent: -1000px;
    background-position: center center;
    overflow: hidden;

    a {
      display: block;
      width: 100%;
      height: 100%;;
    }
  }

  .navigation {
    display: block;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    & > ul {
      display: flex;
      flex-flow: row nowrap;
      height: 100%;
    }

    .menuItem {
      height: 5rem;
      display: inline-block;
      position: relative;
      padding: 0 3px;
      margin-right: 28px;

      &:last-child {
        margin-right: 0;
      }


      & a {
        font-family: $primary-font;
        text-decoration: none;
        color: $color-navigation;

        &:hover {
          text-decoration: underline;
        }
      }

      & > a {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;

      }

      &.selected > a::before {
        position: absolute;
        height: 10px;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color-navigation;
        content: '';
      }

      .subMenu {
        position: absolute;
        top: calc(5rem + 1px);
        display: none;

        background-color: $color-white;
        border-radius: 0 30px 30px 30px;
        box-shadow: 0 20px 20px rgba(0,0,0,0.2);
        padding: 20px 6px;

        li a {
          display: block;
          padding: 8px 20px;
          position: relative;
          z-index: 2;

          &:hover {
            color: $color-white;
            text-decoration: none;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              border-radius: 5px;
              background-color: $color-navigation;
            }
          }
        }
      }

      &:hover .subMenu {
        display: block;
      }
    }
  }


  .search {
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    .searchField {
      margin: 0;
      padding: 0 0 0 36px;
      width: 100%;
      height: 2rem;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid $colors-gray4;

      font-size: .8rem;
      background-image: url('./search.svg');
      background-repeat: no-repeat;
      background-position: 9px 11px;

      &:focus,
      &:focus-visible {
        outline: none;
        border: 1px solid $color-navigation;
      }

      &::-webkit-search-cancel-button {
        margin-right: 12px;
      }
    }

  }
}
