@import '../../colors.scss';
@import '../../fonts.scss';

.footer {
  position: relative;
  z-index: 2;

  height: 22rem;
  width: 100%;

  display: flex;
  justify-content: center;


  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-image: url('./wave.svg');
    background-position: center -214px;
    background-repeat: repeat-x;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: url('./footer-texture.jpg');
    background-repeat: repeat-x;
    background-position: center top;
  }

  .centered {
    width: 100%;
    max-width: 79em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 10;
  }

  .contact,
  .social {
    padding-bottom: 30px;
  }

  .contact {
    font-family: $primary-font;
    font-size: .75rem;
    line-height: 1rem;
    color: $color-navy;

    h2 {
      font-family: $hero-font;
      font-size: 1rem;
      margin-bottom: 1.4rem;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      padding: 0 0 0 1rem;
    }
    li {
      list-style-type: none;
      padding: 0 0 .5rem 0;
      &::before {
        content: '\2022';
        font-size: 1rem;
        position: absolute;
        transform: translate(-12px, 0px);
      }
    }
  }

  .social {
    font-family: $primary-font;
    font-size: .81rem;
    color: $color-navy;

    ul {
      margin: 0 0 .4rem;
      padding: 0;
      display: grid;
      grid-template-columns: 2rem 2rem 2rem 2rem;
      grid-template-rows: 2rem;
      grid-column-gap: .7rem;

      li {
        list-style-type: none;

        a {
          display: block;
          width: 2rem;
          height: 2rem;
          text-indent: -1000px;
          overflow: hidden;
          background-size: contain;
          background-repeat: no-repeat;

          &:hover {
            opacity: .8;
          }

          &.twitter {
            background-image: url(./twitter.png);
          }
          &.facebook {
            background-image: url(./facebook.png);
          }
          &.instagram {
            background-image: url(./instagram.png);
          }
          &.messenger {
            background-image: url(./messenger.png);
          }
        }
      }
    }

  }
}
