@import '../../colors.scss';
@import '../../fonts.scss';

.section_title_container {
  position: relative;
  z-index: 2;

  height: 5.95rem;
  width: 100%;

  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  &.align_left {
    justify-content: flex-start;

    & .section_title {
      padding-left: 3.8rem;
      padding-right: 6.8rem;
    }
  }

  &.align_right {
    justify-content: flex-end;

    & .section_title {
      padding-right: 3.8rem;
      padding-left: 6.8rem;
    }
  }

  .section_title {
    font-family: $hero-font;
    margin: 0;
    padding: 0;
    color: $color-white;
    display: flex;
    align-items: center;


    &.color_peach {
      background-image: url('../../static/peach-brush.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.color_gold {
      background-image: url('../../static/gold-brush.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.color_orange {
      background-image: url('../../static/orange-brush.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

}
