@import '../../colors.scss';
@import '../../fonts.scss';

.sectionTitleContainer {
  position: relative;
  z-index: 2;
  height: 5.95rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  @media screen and (max-width: 83.5rem) {
    box-sizing: border-box;
  }

  @media screen and (max-width: 480px) {
    width: 100vw;
    height: 3.5rem;
  }

  &.alignLeft {
    justify-content: flex-start;

    & .sectionTitle {
      padding-left: 3.8rem;
      padding-right: 6.8rem;
      transform: translateX(-2rem);
    }
  }

  .sectionTitle {
    font-family: $hero-font;
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    color: $color-white;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 83.5rem) {
      margin: 0 2rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 1.2rem;
      margin: 0;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.colorPeach::after {
      background-image: url('./peach-brush.png');
      transform: scaleX(1.2) translate(-31%, -59%);
      height: 116%;
    }

    &.colorGold::after {
      background-image: url('./gold-brush.png');
      transform: translate(-53%, -50%);
    }

    &.colorOrange::after {
      background-image: url('./orange-brush.png');
      transform: translate(-41%, -50%);

      @media screen and (max-width: 480px) {
        transform: scaleX(1.3) translate(-17%, -50%);
      }
    }

    &.colorGreen::after {
      background-image: url('./green-brush.png');
      transform: scaleX(-1.2) translate(33%, -66%);
      background-position: right center;
      height: 116%;

      @media screen and (max-width: 480px) {
        transform: scaleX(-1.3) translate(19%, -66%);
      }
    }

    &.colorPurple::after {
      background-image: url('./purple-brush.png');
      background-position: right center;
      transform: scaleX(-1) translate(52%, -49%);
      height: 105%;
    }

    &.colorBlue::after {
      background-image: url('./blue-brush.png');
    }

    &.colorLilac::after {
      background-image: url('./lilac-brush.png');
      background-position: right center;
      transform: scaleX(-1) translate(49%, -53%);
    }

    &.colorViolet::after {
      background-image: url('./violet-brush.png');
      background-position: right center;
      transform: scaleX(-1) translate(44%, -53%);
    }

    &.colorOcean::after {
      background-image: url('./ocean-brush.png');
      background-position: right center;
      transform: scaleX(-1) translate(51%, -49%);
    }
  }



  &.alignRight {
    justify-content: flex-end;

    & .sectionTitle {
      padding-right: 1rem;
      padding-left: 6.8rem;
      transform: translateX(-1rem);

      &.colorGold {
        margin: 0 4rem 0 0;

        @media screen and (max-width: 480px) {
          margin: 0 2rem 0 0;
        }
      }

      &.colorGreen {
        margin: 0 3rem 0 0;
      }

      &::after {
        background-position: left center;
        transform: scaleX(-1) translate(50%, -50%);
      }

      &.colorPeach::after {
        background-position: left center;
        transform: scale(-1.3, 1.1) translate(47%, -57%);
      }

      &.colorGold::after {
        background-position: left center;
        transform: scaleX(-1.3) scaleY(1.4) translate(33%, -38%);

        @media screen and (max-width: 480px) {
          transform: scaleX(-1.3) scaleY(1.4) translate(33%, -38%);
        }
      }

      &.colorOrange::after {
        background-position: left center;
        transform: scaleX(-1.1) translate(47%, -52%);
      }

      &.colorGreen::after {
        background-position: right center;
        transform: scaleX(1.3) translate(-33%, -68%);
      }

      &.colorBlue::after {
        background-position: left center;
        transform: scaleX(-1) translate(44%, -50%);
      }

      &.colorPurple::after {
        background-position: right center;
        transform: scaleX(1.2) translate(-40%, -50%);
      }

      &.colorLilac::after {
        background-position: right center;
        transform: scaleX(1.1) translate(-40%, -53%);
      }

      &.colorViolet::after {
        background-position: right center;
        transform: scaleX(1.1) translate(-48%, -53%);
      }

      &.colorOcean::after{
        background-position: right center;
        transform: scaleX(1.3) translate(-38%, -49%);
      }
    }
  }
}
