
@import '../../colors.scss';

.contentList {
  display: grid;
  padding: 0 2rem;

  &.typeColumns {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.6rem;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". . ."
      "more more more";
  }

  &.typeFull {
    display: block;
  }

  &.typeFull > * {
    margin-bottom: 0rem;

    &:nth-child(2n+2) {
      margin-bottom: 2rem;
    }
  }

  .more {
    margin-top: 2rem;
    grid-area: more;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    $colors: (
      "Orange": $color-orange,
      "Brick": $color-brick,
      "Blue": $color-blue,
      "Green": $color-green,
      "Gold": $color-gold,
      "Purple": $color-purple,
      "Lilac": $color-lilac,
      "Ocean": $color-ocean,
      "Peach": $color-peach
    );

    @each $name, $color in $colors {
      & > a.color#{$name} {
        color: $color;

        &::after {
          background-color: $color;
        }
      }
    }

    & > a {
      font-weight: bold;
      text-decoration: none;
      padding-right: 1.4rem;
      position: relative;

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 1rem;
        height: 1.2rem;
        right: 0;
        top: .2rem;
        mask: url('../../static/pager.svg') no-repeat;
        mask-size: contain;
        transform: scaleX(-1);
      }
    }
  }
}
