
@import '../../colors.scss';
@import '../../fonts.scss';


.contentList {
  display: grid;
  padding: 0 2rem;

  &.typeColumns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.6rem;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". . ."
      "more more more";
  }

  &.typeFull {
    display: block;

    &.typeFull > * {
      margin-bottom: 2rem;
    }
  }

  &.typeFull.showMoreLink > * {
    margin-bottom: 2rem;

    &:nth-last-child(2) {
      margin-bottom: 0rem;
    }
  }

  .more {
    grid-area: more;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    $colors: (
      "Orange": $color-orange,
      "Brick": $color-brick,
      "Blue": $color-blue,
      "Green": $color-green,
      "Gold": $color-gold,
      "Purple": $color-purple,
      "Lilac": $color-lilac,
      "Ocean": $color-ocean,
      "Peach": $color-peach
    );

    @each $name, $color in $colors {
      & > a.color#{$name} {
        color: $color;
      }
    }

    & > a {
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
