@import '../../colors.scss';

.imageModal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 90vw;
  height: 100vh;
  grid-template-rows: 4rem calc(100vh - 8rem) 4rem;
  display: none;

  &::after {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgb(0 0 0 / 60%);
  }

  &.show {
    display: grid;
  }

  .content,
  .footer,
  .header {
    position: relative;
    z-index: 10;
    background-color: white;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    & > div {
      width: 100%;
      min-height: 1px;
      position: relative;
    }

    .image {
      width: 100%;
      border-radius: 1.875rem;
      max-height: 85vh;
    }

    .pager {
      height: 100%;
      position: absolute;
      border-radius: 1.875rem;
      top: 0;
      width: 25vw;
      text-indent: -100rem;

      cursor: pointer;

      &::after {
        position: absolute;
        content: '';
        display: none;
        width: 100%;
        height: 4rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../../static/pager.svg');
        background-repeat: no-repeat;
        background-position: 3vw center;
      }

      &:hover {
        background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0) 100%);
        &::after {
          display: block;
        }
      }

      &.nextPage {
        right: 0;
        transform: rotate(180deg);
      }

      &.previousPage {
        left: 0;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;

    span {
      color: $color-blue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: '\00D7';
        display: inline-block;
        font-size: 2.5rem;
        transform: translate(.5rem, .3rem);
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
