
$color-white: #fff;
$color-navy: #4E6A8D;
$color-gray1: #F9F9F9;
$color-gray4: #BDBDBD;

$color-berry: #A01066;
$color-orange: #EE840F;
$color-brick: #BD4836;
$color-blue: #3960AB;
$color-darkblue: #214A99;
$color-deepblue: #151646;
$color-green: #83AD29;
$color-darkgreen: #587E24;
$color-gold: #E5BE1D;
$color-darkgold: #BD7F06;
$color-purple: #641B47;
$color-lilac: #AE96C8;
$color-darklilac: #51469F;
$color-ocean: #43848A;
$color-peach: #D77A69;

$color-navigation: $color-purple;
