@import './colors.scss';
@import './fonts.scss';

.content {

  padding: 0 4rem;
  font-weight: 100;
  line-height: 1.65rem;

  hr {
    clear: both;
    float: none;
    margin-top: 2rem;
  }

  .image {
    width: 230px;
    height: 230px;
    border-radius: 1rem;
    display: inline-block;

    &_left {
      float: left;
      margin: 0 2rem 1rem 0
    }
    &_right {
      float: right;
      margin: 0 0 1rem 2rem
    }
  }

  p {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  ul {
    padding: 0 0 0 1rem;
    display: inline-block;
    li {
      list-style-type: none;
      padding: 0 0 .5rem 0;
      &::before {
        content: '\2022';
        font-size: 1rem;
        position: absolute;
        transform: translate(-12px, 0px);
      }
    }
  }

  &.contentPage {
    padding: 4rem 8rem;

    .image {
      width: 30%;
      height: auto;
    }
  }

}

.separator {
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  float: none;
  clear: both;
  margin: 2rem 0;
  transform: translateX(-1rem);
  padding: 0 1rem;
}

.linkList li a {
  font-weight: bold;
  text-decoration: none;
  color: $color-lilac;

  &:hover {
    text-decoration: underline;
  }
}
