@import './colors.scss';
@import './fonts.scss';

.content {

  padding: 0 4rem;
  font-weight: 100;
  line-height: 1.65rem;

  hr {
    clear: both;
    float: none;
    margin-top: 2rem;
  }

  .image {
    width: 230px;
    height: 230px;
    border-radius: 1rem;
    display: inline-block;

    &_left {
      float: left;
      clear: left;
      margin: 0 2rem 1rem 0
    }
    &_right {
      float: right;
      clear: right;
      margin: 0 0 1rem 2rem
    }

    &_fullwidth {
      float: none;
      clear: both;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  h2, h3 {
    clear: both;
  }

  p {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  ul {
    padding: 0 0 0 1rem;
    display: inline-block;
    li {
      list-style-type: none;
      padding: 0 0 .5rem 0;
      &::before {
        content: '\2022';
        font-size: 1rem;
        position: absolute;
        transform: translate(-12px, 0px);
      }
      p {
        margin-bottom: 0;
      }

      ul {
        margin-top: .5rem;

        > li:last-child {
          padding-bottom: 0;
        }
      }
    }
  }


  a {
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }


  &.contentPage {
    padding: 4rem 8rem;

    .image {
      width: 30%;
      height: auto;
    }
  }



  &.contactPage {
    padding-top: 4rem;

    a {
      color: $color-ocean;
    }
  }

  &.foundationPage {
    a {
      color: $color-lightpurple;
    }
  }

  &.jobPage {
    a {
      color: $color-royalblue;
    }
  }

}

.linkList {
  padding: 0;

  li {

    list-style-type: none;
    padding-bottom: .5rem;
    a {
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
